@model AnkhMorporkAdventure.Domain.Concrete.Inventory

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Inventory</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            @if (Model.Items.Any())
            {
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantiy</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.Items)
                        {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Key.Name)</td>
                            <td>@Html.DisplayFor(m => item.Key.Description)</td>
                            <td>@Html.DisplayFor(m => item.Key.Price)</td>
                            <td>@Html.DisplayFor(m => item.Value)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
                
            }
            else
            {
                <p>Inventory is empty</p>
            }
        </div>
    </div>
</div>