@using AnkhMorporkAdventure.Models;
@using AnkhMorporkAdventure.Infrastructure;
@model AnkhMorporkAdventure.Domain.Models.Fool
@{
    ViewBag.Title = "Index";
}

<br>
<div class="row">
    <div class="col-6">
        <img src="~/Images/fools-guild.jpg" class="img float-end" alt="...">
    </div>
    <div class="col-6">
        <h2>You came across a member of guild of Fools and Joculators and College of Clowns</h2>
        <h3>
            He is your friend, and he is working as @Model.Type!
            He offer u to work and get salary in size of @MoneyConvertor.Convert(@Model.Salary).
            Will u accept this offer?
        </h3>
        @Html.ActionLink("Agree", "Offer", "Fools", Model, new { @class = "btn btn-secondary btn-lg" })
        @Html.ActionLink("Disagree", "Index", "Game",
            new GameIndexMessageModel
            {
                Title = "Have a nice day",
                Message = "U talk for some time and he arranged a meeting in this evening",
                Died = false
            },
            new { @class = "btn btn-secondary btn-lg" })
    </div>
</div>
