@model AnkhMorporkAdventure.Models.ThiefMeetingModel
@{
    ViewBag.Title = "Meeting";
}

@if (Model.Message.IsEmpty())
{
    <h2>You came across a member of guild of Thieves, Cutpurses and Allied Trades</h2>
    <h3>Hi, I'm @Model.Thief.Name! As u know, u should pay a fee in size of 10 dollars. Will u do it?</h3>

    @Html.ActionLink("Pay a fee", "Confirm", "Thieves", new { }, new { @class = "btn btn-secondary" })
    @Html.ActionLink("Refuse paying a fee", "End", "Game",
        new { message = "The two assassins kill when u went down to alley" },
        new { @class = "btn btn-secondary" })
}
else
{
    <h2>@Model</h2>
    @Html.ActionLink("Return to city", "Index", "Game", new { }, new {@class = "btn btn-primary"})
}
